body,
button,
input,
select,
line,
p {
	color: #404040;
	font-family: "Libre Baskerville", Libre, Georgia, Times, serif;
	font-size: 18px;
	font-size: 1rem;
	line-height: 1.75;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
	font-family: "Libre Baskerville", Libre, Georgia, Times, serif;
	font-weight: bold;
	margin: 0 0 .875em;
}
h1 {
	font-size: 29px;
	font-size: 1.8125rem;
	line-height: 1.3;
}
h2 {
	font-size: 23px;
	font-size: 1.4375rem;
	line-height: 1.3;
}
h3 {
	font-size: 18px;
	font-size: 1rem;
}
h4 {
	font-size: 14px;
	font-size: .875rem;
}
h5 {
	font-size: 13px;
	font-size: .8125rem;
}
h6 {
	font-size: 12px;
	font-size: .75rem;
}
p {
	margin-top: 0;
	margin-bottom: 1.75em;
}

dfn,
cite,
em,
i {
	font-style: italic;
}

blockquote {
	margin: 0 1.75em 1.75em 2.25em;
	font-size: 18px;
	font-size: 1rem;
}

address {
	margin: 0 0 1.75em;
}

pre {
	font-family: "Libre Baskerville", Libre, Georgia, Times, serif;
	margin-bottom: 1.75em;
	max-width: 100%;
	overflow: auto;
}

code,
kbd,
tt,
var {
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
	font-size: 16px;
}

abbr,
acronym {
	border-bottom: 1px dotted;
	cursor: help;
}

mark,
ins {
	background: #fff9c0;
	text-decoration: none;
}

big {
	font-size: 125%;
}
